
.desktop-only {
    display: none;
}
h2{
    color: rgb(5, 66, 41)  ;
}
p{
    color: rgb(5, 66, 41)  ;
}
header{
   
    display: flex;
    padding: 20px;
    margin-bottom: 15px;;
    justify-content: space-between;
    
}
header a.hamburger_menu{
    font-size: 40px;
    text-decoration: none;
    color: rgb(5, 66, 41)  ;
} 
header img{
    width: 60px;
    height: 60px;
}
main{
    padding: 25px;
}
main input{
    color: rgb(5, 66, 41);
    border-radius: 10px;
    align-content: center;
    width: 100%;
    height: 35px;
}
main img{
    border: 1px rgb(5, 66, 41) solid; 
    border-radius: 5px;
    height: auto;
    width: 100%;
    margin: 15px 0;
}
nav ul{
    display: flex;
    justify-content:space-evenly;
}

nav a {
    font-size: 25px;
    text-decoration: none; 
    border: 1px rgb(5, 66, 41) solid; 
    border-radius: 5px;
    color:  rgb(5, 66, 41) ;
    padding: 5px;
    }
    figure{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        border: 1px rgb(5, 66, 41) solid; 
        border-radius: 5px;
        color:  rgb(5, 66, 41) ;
        padding: 5px;
       
        
        
    }
    figure img{
        height: 100px;
        width: 100px;
        margin: 0;
    }
    figcaption{
        font-size: 25px;
        text-align: center ;
        text-decoration: underline;
    }
    figcaption p{
        font-size: 17px;
        color: rgb(3, 58, 55);
        
        text-align: center;
        text-decoration: wavy;
       
        
    }
    mark{
    font-size: 30px;
    color: lightseagreen;
    background-color: lightsteelblue;
    width: 45px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
@media (min-width: 600px) {
    .desktop-only {
        display: unset;
    }
    .mobile-only {
        display: none;
    }

}